node_modules
*.log
.nuxt
nuxt.d.ts
.output
.env
img_optimisation/
archived_builds/

# Playwright
tests/**/*.png
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
