{
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "none"
      }
    }
  ]
}
