@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Play, system-ui, sans-serif;
        font-size: 1rem;
    }
    select {
        @apply cursor-pointer border-2 border-gray-400 rounded outline-none
    }
    input {
        @apply border border-gray-400 rounded outline-none
    }
    input[type="checkbox"] {
        @apply cursor-pointer
    }
    input[type="text"] {
        @apply cursor-text
    }
    label {
        @apply cursor-pointer
    }
    h1 {
        @apply text-3xl font-semibold
    }
    button {
        @apply transition-opacity
    }
    button:disabled {
        @apply opacity-70
    }
}

@layer components {
    .button {
        @apply inline-block mx-5 my-1.5 px-3.5 py-2 min-w-[100px] text-base text-slate-800 cursor-pointer
        border border-gray-300 rounded bg-gradient-to-b from-cyan-400 to-indigo-400
        hover:from-indigo-400 hover:to-cyan-400
        disabled:cursor-default disabled:bg-gray-300 disabled:bg-none
    }

}

@layer utilities {
    .rotate-over {
        transform: rotate3d(1, 0, 0, 180deg);
    }
}

/*эти классы всегда будут в итоговом css-файле*/

.transition-fade-enter-active,
.transition-fade-leave-active {
    transition: opacity .2s linear;
}
.transition-fade-enter-active .modal-form,
.transition-fade-leave-active .modal-form {
    transition: transform .2s linear;
}
.transition-fade-enter-from,
.transition-fade-leave-to {
    opacity: .2;
}
.transition-fade-enter-from .modal-form,
.transition-fade-leave-to .modal-form {
    transform: translateY(-20px);
}

.transition-loader-enter-active {
    transition: opacity .2s .5s linear;
}
.transition-loader-enter-from {
    opacity: 0;
}

.transition-draggable-group-move {
    transition: all .5s ease;
}

.transition-catchild-enter-active,
.transition-catchild-leave-active {
    transition: all .5s linear;
}
.transition-catchild-enter-from,
.transition-catchild-leave-to {
    opacity: 0;
    max-height: 0;
}
.transition-catchild-enter-to,
.transition-catchild-leave-from {
    opacity: 1;
    max-height: var(--child-height);
}

.transition-test-enter-from,
.transition-test-leave-to {
    transform: scaleY(0);
}
.transition-test-enter-active,
.transition-test-leave-active {
    transition: transform 2s linear;
}

