@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --breakpoint-xs: 30rem;
  --font-sans: 'Sofia Sans';
  /* --font-sans: 'Marck Script'; */
}
/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
/* @layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
} */

@layer base {
  :root {
    /* scrollbar-gutter: stable; */
    /* scrollbar-color: #c4b5fd #fee2e2;
    scrollbar-width: thin; */
    @apply bg-gradient-to-r from-purple-100 via-fuchsia-200/85 via-30% to-violet-100 2xl:from-purple-50 2xl:to-violet-50;
  }

  html {
  }
  body {
    background: none;
    background-image: url('/img/background.svg');
    background-size: 250px auto;
    background-position: center top;
    background-repeat: repeat;
    background-attachment: fixed;
    overflow-y: scroll; /* visible on pages without scroll (work well with modal overlay)*/
    font-size: 1rem;
    /*overflow-y: scroll;  always visible */
    /* background-image: url('/img/background.svg'), var(--bg-gradient);
    background-size:
      250px auto,
      100% 100%;
    background-position:
      center top,
      center center;
    background-repeat: repeat, no-repeat; */
  }
  .font-accent {
    font-family: 'Russo One';
  }
  .font-fancy {
    /* font-family: 'Caveat'; */
    font-family: 'Bad Script';
  }
  .bg-black-striped {
    background: repeating-linear-gradient(
      45deg,
      var(--color-stone-900),
      var(--color-stone-900) 30px,
      var(--color-stone-800) 30px,
      var(--color-stone-800) 60px
    );
  }
  header {
    --header-hidden-block: 120px;
    top: calc(-1 * var(--header-hidden-block));
    & .header-hidden {
      height: var(--header-hidden-block);
      overflow: hidden;
    }
  }
  @media (max-width: 767px) {
    header {
      --header-hidden-block: 80px;
    }
  }
  /* h1 {
    @apply text-3xl font-semibold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  } */

  /* a {
    @apply text-sky-700 hover:text-sky-500 visited:text-red-700 active:text-green-500 focus:text-yellow-500;
  } */
  /* a {
    @apply text-blue-600 hover:text-blue-400 active:text-blue-800 focus:text-blue-800;
  } */
  /* hide arrows more/less in numbered input */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  button {
    @apply cursor-pointer;
  }
  /* select {
    @apply cursor-pointer border-2 border-gray-400 rounded outline-none;
  }
  input {
    @apply border border-gray-400 rounded outline-none;
  }
  input[type='checkbox'] {
    @apply cursor-pointer;
  }
  input[type='text'] {
    @apply cursor-text;
  }
  input:disabled {
    @apply cursor-not-allowed;
  }
  label {
    @apply cursor-pointer;
  }
  h1 {
    @apply text-3xl font-semibold;
  }
  button {
    @apply transition-opacity;
  }
  button:disabled {
    @apply opacity-50;
  }
  a {
    @apply text-sky-700 hover:text-sky-500;
  } */
}

@layer components {
  /* .button {
    @apply inline-block mx-5 my-1.5 px-3.5 py-2 min-w-[100px] text-base text-slate-800 cursor-pointer
        border border-gray-300 rounded bg-gradient-to-b from-cyan-400 to-indigo-400
        hover:from-indigo-400 hover:to-cyan-400
        disabled:cursor-default disabled:bg-gray-300 disabled:bg-none;
  } */
  /* .disabled {
    @apply cursor-not-allowed text-gray-400;
  } */

  .filter-scrollbar {
    /*scrollbar-color: auto;  чтобы не применялось от body (теперь у body нет скроллбара*/
    &::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 9999px;
      -webkit-box-shadow: inset 0 0 6px rgba(75, 64, 103, 0.3);
      background-color: rgb(216 180 254);
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
      border-radius: 9999px;
      background-color: #f5f5f5;
    }
  }

  /* @supports (scrollbar-color: auto) {
    .menu-scrollbar {
      scrollbar-color: rgb(167 139 250 / 1) rgb(209 213 219 / 1);
      scrollbar-width: thin;
    }
  } */
  /* more beautiful than above */
  .menu-scrollbar {
    /* Firefox fallback */
    scrollbar-color: rgb(167 139 250) rgb(237 233 254);
    scrollbar-width: thin;
  }

  @supports selector(::-webkit-scrollbar) {
    .menu-scrollbar {
      /*scrollbar-color: auto;  reset Firefox scrollbar */
      scrollbar-color: initial;
      scrollbar-width: initial;

      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar:horizontal {
        height: 6px;
      }
      &::-webkit-scrollbar-thumb {
        @apply bg-violet-400;
      }
      &::-webkit-scrollbar-track {
        @apply bg-violet-200;
      }
    }
  }

  /* решил не делать 
  .scrollbar {
    --sbRounded: 1;
    --sbWidth: 12px;
    --sbBgColor: #e6e6e6;
    --sbTrackColor: #fdfdfd;
    --sbTrackShadow: #fdfdfd;
    --sbThumbColor: #f5f5f5;
    --sbThumbShadow: #f5f5f5;

    &.filter {
      --sbBgColor: #f5f5f5;
      --sbTrackColor: #fdfdfd;
      --sbThumbColor: #dddddd;
    }

    &::-webkit-scrollbar {
      width: var(--sbWidth);
      background-color: var(--sbBgColor);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--sbThumbColor);
      border-radius: calc(var(--sbRounded) * 9999px);
      -webkit-box-shadow: inset 0 0 6px var(-sbTrackShadow);
    }
    &::-webkit-scrollbar-track {
      background-color: var(--sbTrackColor);
      border-radius: calc(var(--sbRounded) * 9999px);
      -webkit-box-shadow: inset 0 0 6px rgba(102, 102, 102, 0.3);
    }
  } */
}

@layer utilities {
  .rotate-over {
    transform: rotate3d(1, 0, 0, 180deg);
  }

  /* height animation */
  .expander {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;

    & > div {
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }

    &.open {
      grid-template-rows: 1fr;

      & > div {
        opacity: 1;
      }
    }
  }
  /* always visible on desktop */
  @media (min-width: 768px) {
    .expander.expander-mobile-only {
      grid-template-rows: 1fr;
      & > div {
        opacity: 1;
      }
    }
  }
  /* end height animation */
}

/*Все что ниже всегда будет в итоговом css-файле*/
/* todo: оставить только те стили, которые не указаны явно в коде (transition), остальное перенести в @layer utilities */
/* Стили для таблиц в характеристиках, со старого сайта */
.characteristics table {
  width: 80%;
  margin: 15px auto;
  text-align: center;
}
.characteristics table td {
  padding: 5px;
  border: 1px solid #d5d5c8;
}
.characteristics table tr:first-child,
.table-header {
  background: #999 0 0;
  color: #fff;
}

.transition-fade-enter-active,
.transition-fade-leave-active {
  transition: opacity 0.2s linear;
}
.transition-fade-enter-active .modal-form,
.transition-fade-leave-active .modal-form {
  transition: transform 0.2s linear;
}
.transition-fade-enter-from,
.transition-fade-leave-to {
  opacity: 0.2;
}
.transition-fade-enter-from .modal-form,
.transition-fade-leave-to .modal-form {
  transform: translateY(-20px);
}

.transition-below-enter-from,
.transition-below-leave-to {
  opacity: 0;
  transform: translateY(20px);
}
.transition-below-enter-active,
.transition-below-leave-active {
  transition:
    opacity 0.2s linear,
    transform 0.2s linear;
}

/* .transition-loader-enter-active {
  transition: opacity 0.2s 0.5s linear;
}
.transition-loader-enter-from {
  opacity: 0;
} */

.transition-draggable-group-move {
  transition: all 0.5s ease;
}

.transition-props-editor-move,
.transition-props-editor-enter-active,
.transition-props-editor-leave-active {
  transition: all 300ms ease;
}
.transition-props-editor-enter-from,
.transition-props-editor-leave-to {
  opacity: 0;
  transform: scaleY(0.1);
}
/* .transition-props-editor-leave-active {
  position: absolute;
} */

/* .transition-informer-enter-from,
.transition-informer-leave-to {
  opacity: 0.2;
  transform: translateY(20px);
}
.transition-informer-enter-active,
.transition-informer-leave-active {
  transition: transform 0.4s linear, opacity 0.2s linear;
} */

/* .transition-filter-values-enter-from,
.transition-filter-values-leave-to {
  max-height: 8px !important;
}
.transition-filter-values-enter-active {
  transition: max-height 0.5s ease-in;
}
.transition-filter-values-leave-active {
  transition: max-height 0.5s cubic-bezier(0.24, 0.66, 0.69, 0.97);
}

.transition-filter-active-values-enter-from,
.transition-filter-active-values-leave-to {
  height: 0;
}
.transition-filter-active-values-enter-to,
.transition-filter-active-values-leave-from {
  height: 30px;
}
.transition-filter-active-values-enter-active,
.transition-filter-active-values-leave-active {
  transition: height 0.3s linear;
} */

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s linear;
}

.productsWrapperTransition {
  transition-property: transform, opacity, height;
  transition-timing-function: linear;
  transition-duration: 400ms;
}

/* .viewer-enter-from,
.viewer-leave-to {
  opacity: 0;
  transform: translate(var(--viewer-transition-x), var(--viewer-transition-y)) scale(var(--viewer-scale));
}
.viewer-enter-to,
.viewer-leave-from {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}
.viewer-enter-active,
.viewer-leave-active {
  transition: all 0.2s linear;
} */

.footer-links a {
  @apply text-violet-200/90 underline-offset-4 hover:text-violet-300 hover:underline;
}

/* presentationBlock */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  animation: gradient 8s linear infinite;
  background-image: linear-gradient(to right, #ffaa40, #9c40ff, #ffaa40);
  background-size: 300% 100%;
}
